<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxbradley.dirtydishes">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" >
    </uses-feature>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".RoomMe"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
          >

        </activity>
        <activity
            android:name=".AddNewChore"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".AddApartment"
            android:label="@string/app_name"
            >

        </activity>
        <activity
            android:name=".SignIn"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="@string/app_name"
            >

        </activity>
        <activity android:name=".CodeActivity"
            android:label="@string/app_name"
            ></activity>

        <activity android:name=".Settings"
            android:label="@string/app_name"
            ></activity>

        <activity android:name=".ChangePassword"
            android:label="RoomMe"></activity>

        <activity android:name=".StartingActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
